{% extends "base.html" %}


{% block tela %} 
<b>Carteira </b> 
{% endblock %}
{% block main %}

<div class="bg-amber-600">
  <div class="grid grid-cols-4 gap-4">
    <div>
      <h1 class="text-7xl px-4 py-4">👜
       <p class="text-xl font-larger text-white font-bold px-3 py-2">Carteira</p>
      </h1>
  </div>
  <div>
<div class=" bg-amber-500 m-3 h-20 w-80 rounded-lg">
    <p class="text-sm font-medium text-slate-300 text-black font-bold py-5 m-5">SALDO ATUAL: {$saldo}</p>
</div>
  </div>
  </div> 
</div>

<div class="grid grid-cols-1 gap-1  m-5">
  <div>
      <div class="rounded-full  bg-blue-400 border-blue hover:bg-blue-600 py-5 px-5 font-bold text-xl w-30 h-50">
        <p class=" py-4">Recarga</p>
      </div>
  </div>
  <div class="rounded-full  bg-blue-400 border-blue hover:bg-blue-600 py-5 px-5 font-bold text-xl w-50 h-50"> 
      <p class=" py-4">Transferir</p>
  </div>
   <div class="rounded-full  bg-blue-400 border-blue hover:bg-blue-600 py-5 px-5 font-bold text-xl  w-30 h-50">
      <p class=" py-4">Depositar</p>
   </div>  
  <div class="rounded-full  bg-blue-400 border-blue hover:bg-blue-600 py-5 px-5 font-bold text-xl w-30 h-50">
      <p class=" py-4">Área PIX</p>
  </div>
</div>


{% endblock %}