<nav class="sticky top-0 bg-white dark:bg-gray-300 dark:text-white grid grid-cols-3 border-b-2 border-b-gray-200 px-3 py-1 h-[60px] z-10">
  <div id="logo" class="text-4xl col-span-1"><a href="/" title="Inicio"><img src="/assets/img/icons8-fiat-500.gif"  class="h-[50px]"/></a></div>
  <h1 class="col-span-1 text-3xl font-bold text-gray-900 dark:text-white self-center hover:text-blue-700"><a href="/" title="Inicio">Estacionei.</a></h1>
  <div class="text-right text-4xl col-span-1">
    <a href="/usuario" title="Usuario">🙋🏻</a>
  </div>
    </nav>