{% extends "base.html" %}

{% block tela %} 
<b>Estacionamentos próximos</b> 
{% endblock %}

{% block main %}
<div class="p-4">
  
  <div class="flex flex-col	gap-4">
  {% for estacionamento in estacionamentos %}
    <div class="w-full h-30 bg-blue-300 text-gray-900 hover:bg-blue-700 hover:text-white cursor-pointer rounded p-2 grid grid-cols-4 gap-2" onclick="location = location + '/{{estacionamento.id}}'">
      <div class="col-span-1 bg-white rounded w-full grid grid-auto-rows items-center p-2">
        <p class="block text-center text-gray-900 font-bolder">{{ estacionamento.vagas }}</p>
        <p class="block text-center text-gray-900">vagas</p>
      </div>
      <div class="col-span-3">
      <p class="font-bolder">{{ estacionamento.nome }}</p>
        <div class="flex gap-1">
          {% for extra in estacionamento.extras|split(',') %}
        <div class="bg-orange-500	 border-1 border-gray-100 h-[20px] text-xs rounded py-0.5 px-2 uppercase font-semibold text-white">
          {{ extra }}
        </div>
          {% endfor %}
        </div>
        <p class="text-sm">{{ estacionamento.endereco }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
  
</div>

{% endblock %}
