{% extends "base.html" %}

<div class="container p-4 antialiased font-sans h-full text-center grid items-center">
  <div>
<h1 class="text-5xl font-bold"><div class="inline-block animate__animated animate__pulse">🚘</div><div class="animate__animated animate__bounceInRight inline-block">🛵</div><div class="inline-block animate__animated animate__bounceInRight">🚲</div></h1>
  <h1 class="text-5xl font-bold	mt-2 text-gray-900 dark:text-white">Estacionei.</h1>
  <h2 class="text-2xl font-medium mt-1 text-gray-800 dark:text-gray-200">Aqui você não roda a cidade inteira procurando estacionamento...</h2>
  </div>
  
<div><a class="bg-white rounded-full border-2 border-blue-200 bg-blue-300 py-3 px-5 font-bold hover:bg-blue-500 hover:text-white text-gray-800" href="/entrar">ENTRAR</a>
  <a class=" py-3 px-5 clear-both text-gray-800	hover:text-blue-800 dark:text-white dark:hover:text-blue-200" href="/cadastro">CRIAR CONTA</a></div>
  

  <footer class="mt-20 text-sm text-gray-500 dark:text-gray-300">
    Estacionei © 2022 Todos os direitos reservados
    <br>
    <i>Desenvolvido por Jeyson, Rubia e Thiago.</i>
  </footer>
</div>
{% endblock %}
